:root {
  --sans: 'Inter', system-ui, -apple-system, sans-serif;
  --mono: 'Inconsolata', ui-monospace, Consolas, monospace;

  font-family: var(--sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color-scheme: light;
  color: #080808;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans);
  color: #080808;
  margin: 0;
}

p {
  margin: 0;
}
